version: "3.8"

services:
  postgres:
    container_name: LunchRoulette-postgres
    image: postgres
    expose:
      - "5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: LunchRoulette
    volumes:
      - ./dataset:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    restart: unless-stopped

  springapp:
    container_name: LunchRoulette-springapp
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_DOMAIN: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: LunchRoulette
      DATABASE_USERNAME: user
      DATABASE_PASSWORD: 123
    ports:
      - "8181:8181"
    depends_on:
      - postgres